@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");
:root {
  --blue: #207efd;
  --dark-blue: #0d68de;
  --red: #fd002e;
  --white: #ffffff;
  --navy-blue: #0b2669;
  --green: #5fff65;
  --dark-gray: #242424;
  --gray: #404040;
  --light-gray: #9d9d9d;
  --white-border: #ffffff78;
  --popup-color: #2424249c;
}
body,
html {
  font-family: "Lexend", sans-serif;
  overflow: auto;
  margin: 0;
}

#background {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  position: fixed;
  z-index: -3;
  top: 0;
}

h1 {
  color: var(--white);
}
